/** Flex **/
.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}


/** Navbar **/
.nav-item-divider {
  width: 1px;
}

.navbar-dark .nav-item-divider {
  background: rgba(255, 255, 255, 0.2);
}
